@model ChatProject.BL.Models.User

@{
    ViewBag.Title = "ChatPage";
}

<html>
<head>
    <link href="~/Content/ChatStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="pad">
    <div ng-app="app" ng-controller="AccountCtrl">
        <iframe #myIframe id="myIframe" (load)="onLoadFunc(myIframe)" src="/Account/Token" style="display:none"></iframe>
        <div id="frame">
            <div id="sidepanel">
                <div id="profile">
                    <div class="wrap">
                        @*<div ng-if="checkIfItFirstLogin()">
                                {{launch('create')}}
                            </div>*@
                        <div ng-click="launch('create')">
                            <img id="profile-img" src="~/Images/{{user.Image}}" class="online" alt="" />
                        </div>
                        <div>
                            <p>{{user.UserName}}</p>
                        </div>
                        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
                    </div>
                </div>
                <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search contacts..." ng-model="searchParam" ng-keyup="setSearchParam()" />
                </div>
                <br>
                <div id="contacts">
                    <div ng-if="!searchParam">
                        <div ng-repeat="item in requestsToUser">
                            <ul ng-if="item.UserName != selectedUser.UserName">
                                <li class="contact" ng-click="setSelectedUser(item)">
                                    <div class="wrap">
                                        <span class="contact-status away"></span>
                                        <img src="~/Images/{{item.Image}}" alt="" />
                                        <div class="meta">
                                            <p>{{item.UserName}}</p>
                                            <p class="preview"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul ng-if="item.UserName == selectedUser.UserName">
                                <li class="contact active" ng-click="setSelectedUser(item)">
                                    <div class="wrap">
                                        <span class="contact-status away"></span>
                                        <img src="~/Images/{{item.Image}}" alt="" />
                                        <div class="meta">
                                            <p>{{item.UserName}}</p>
                                            <p class="preview"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-repeat="item in userFriends">
                            <ul ng-if="item.UserName != selectedUser.UserName">
                                <li class="contact" ng-click="setSelectedUser(item)">
                                    <div ng-if="item.MarkedAsLoggedIn == true">
                                        <div class="wrap">
                                            <span class="contact-status online"></span>
                                            <img src="~/Images/{{item.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="item.MarkedAsLoggedIn == false">
                                        <div class="wrap">
                                            <img src="~/Images/{{item.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul ng-if="item.UserName == selectedUser.UserName">
                                <li class="contact" ng-click="setSelectedUser(item)">
                                    <div ng-if="item.MarkedAsLoggedIn == true">
                                        <div class="wrap active">
                                            <span class="contact-status online"></span>
                                            <img src="~/Images/{{item.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="item.MarkedAsLoggedIn == false">
                                        <div class="wrap">
                                            <img src="~/Images/{{item.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div ng-repeat="item in userRequests">
                            <ul ng-if="item.UserName != selectedUser.UserName">
                                <li class="contact" ng-click="setSelectedUser(item)">
                                    <div class="wrap">
                                        <span class="contact-status busy"></span>
                                        <img src="~/Images/{{item.Image}}" alt="" />
                                        <div class="meta">
                                            <p>{{item.UserName}}</p>
                                            <p class="preview"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul ng-if="item.UserName == selectedUser.UserName">
                                <li class="contact active" ng-click="setSelectedUser(item)">
                                    <div class="wrap">
                                        <img src="~/Images/{{item.Image}}" alt="" />
                                        <div class="meta">
                                            <span class="contact-status busy"></span>
                                            <p>{{item.UserName}}</p>
                                            <p class="preview"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="searchParam">
                        <div ng-repeat="item in findedUsers">
                            <div ng-if="item.Status == 'friend'">
                                <ul ng-if="item.User.UserName != selectedUser.UserName">
                                    <li class="contact" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            @*<span class="contact-status"></span>*@
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul ng-if="item.User.UserName == selectedUser.UserName">
                                    <li class="contact active" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            @*<span class="contact-status"></span>*@
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="item.Status == 'new'">
                                <ul ng-if="item.User.UserName != selectedUser.UserName">
                                    <li class="contact" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul ng-if="item.User.UserName == selectedUser.UserName">
                                    <li class="contact active" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="item.Status == 'toUser'">
                                <ul ng-if="item.User.UserName != selectedUser.UserName">
                                    <li class="contact" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status away"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul ng-if="item.User.UserName == selectedUser.UserName">
                                    <li class="contact active" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status away"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="item.Status == 'fromUser'">
                                <ul ng-if="item.User.UserName != selectedUser.UserName">
                                    <li class="contact" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status busy"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul ng-if="item.UserName == selectedUser.UserName">
                                    <li class="contact active" ng-click="setSelectedUser(item.User)">
                                        <div class="wrap">
                                            <span class="contact-status busy"></span>
                                            <img src="~/Images/{{item.User.Image}}" alt="" />
                                            <div class="meta">
                                                <p>{{item.User.UserName}}</p>
                                                <p class="preview"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="bottom-bar">
                        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                    </div>*@
            </div>
            <div class="content">
                <div class="contact-profile" ng-if="selectedUser.UserName != null">
                    <img id="profile-img" src="~/Images/{{selectedUser.Image}}" alt="" />
                    @*<img src="~/Images/{{selectedUser.Image}}" alt="" />*@
                    <p>{{selectedUser.UserName}}</p>
                </div>
                <div class="messages" ng-if="selectedUser.UserName != null" scroll-glue>
                    <div ng-repeat="item in chatMessages">
                        <ul>
                            <li class="sent" ng-if="item.FromId != user.Id">
                                <img src="~/Images/{{user.Image}}" alt="" />
                                <p>{{item.TextMessage}}</p>
                            </li>
                            <li class="replies" ng-if="item.FromId == user.Id">
                                <img src="~/Images/{{selectedUser.Image}}" alt="" />
                                <p>{{item.TextMessage}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="message-input">
                    <div ng-repeat="item in requestsToUser">
                        <div ng-if="item.UserName == selectedUser.UserName" style="text-align:center">
                            <input type="button" class="requestsbutton btn btn-success" value="Accept" ng-click="AcceptRequest()">
                            <input type="button" class="requestsbutton btn btn-warning" value="Decline" ng-click="DeclineRequest()">
                        </div>
                    </div>
                    <div ng-repeat="item in findedUsers">
                        <div ng-if="item.Status == 'new' && item.User.UserName == selectedUser.UserName" style="text-align:center">
                            <input type="button" class="requestsbutton btn btn-success" value="Add" ng-click="CreateRequest()">
                        </div>
                    </div>
                    <br />
                    <div class="wrap">
                        <input class="myMessageInput" type="text" placeholder="Write your message..." ng-model="message" ng-keyup="$event.keyCode == 13 ? PostMessage() : null" ng-disabled="canSend" />
                        @*<i class="fa fa-paperclip attachment" aria-hidden="true"></i>*@
                        <button class="submit btn btn-primary" ng-click="PostMessage()" ng-disabled="canSend"><i class="fa fa-paper-plane-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-app="app" ng-controller="exitController">
        <a href="http://www.disney.com">Leave page</a>
    </div>


</body>
</html>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
    <script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.3.0.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>

    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>

    <script src="~/Scripts/Controller/AccountCtrl.js"></script>
}

